:root{
  background-color: #282c34;
}

header {
  height: fit-content;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #61dafb;
}

h1 {
  text-align: center;
  color: white;
}

label {
  display: block;
  text-align: center;
  font-weight: 600;
  width: 100%;
  color: #efefef;
}

input {
  display: block;
  margin: 8px 0 32px;
  min-height: 32px;
  font-size: 18px;
  width: clamp(250px, 80%, 350px);
}

a {
  font-size: 24px;
  padding: 16px 32px;
  color: #010101;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
}

a:hover {
  background-color: rgb(4, 4, 37);
  color: #61dafb;
  opacity: 1;
}

dialog::backdrop {
  background-color: #282c34;
  opacity: 0.7;
}

.page-register,
.page-login,
.page-principal {
  height: 100%;
  display:flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.page-principal p {
  font-size: 18px;
  color: #efefef;
}

.btn-register,
.btn-login,
.btn-logout {
  height: 32px;
  width: clamp(250px, 80%, 350px);
  font-size: 18px;
}

.btn-register:disabled,
.btn-login:disabled {
  cursor: not-allowed;
}